body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.pepa-scroll {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

.pepa-scroll img {
    height: 300px;
    transition: transform 0.3s;
}

.pepa-scroll img:hover {
    transform: scale(1.05);
}

.help-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: rgb(3, 3, 3);
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-toggle {
    display: none;
}
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-toggle:checked+.help-icon+.modal {
    display: flex;
    animation: fadeIn 0.3s ease-out;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    animation: slideIn 0.3s ease-out;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
}